@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Raleway-Medium";
  src: url("/fonts/Raleway-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("/fonts/Raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-body:
    "Raleway-Medium", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  --bg-col: #0b0b0b;
  --btn-col: #0b0b0b39;
  --text:#f4fff8 ;
  --text-grey: #f4fff882 ;
}

html {
  font-family: var(--font-body);
  background-color: var(--bg-col);
  color: var(--text);
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}