---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "@/components/Button.astro";
import ProjectCtgs from "@/components/ProjectCtgs_.astro";
---

<BaseLayout title="Home" class="z-10" }>
  <section class="hero-section">
    <div class="relative h-screen w-full">
      <div
        class="absolute top-1/2 left-1/2 flex w-full -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center gap-16"
      >
        <h1 class="text-7xl">helping heads</h1>
        <div class="buttons-wrapper flex gap-6">
          <Button variant="primary">Projekte ansehen</Button>
          <Button variant="secondary">Mehr erfahren</Button>
        </div>
      </div>
      <div class="hero-second absolute bottom-0 left-0 px-10 py-8">
        <h2>Umwerfende Konzepte.</h2>
        <h2>Unvergessliche Erlebnisse.</h2>
      </div>
    </div>
  </section>
  <section class="brand-info-text flex h-screen items-center">
    <p class="mx-10 max-w-[1100px] indent-24 text-[clamp(1.2rem,3vw,2.3rem)]">
      Wir gestalten außergewöhnliche Konzepte, Installationen und
      Sonderkonstruktionen mit Licht, Projektionen und Wasser, um für unsere
      Kunden unkonventionelle und eindrucksvolle Erlebnisse zu schaffen.
    </p>
  </section>

  <section>
    <ProjectCtgs />
  </section>
</BaseLayout>
